---
# Common role: Base system configuration

- name: Update system packages
  package:
    name: "*"
    state: latest
  when: ansible_os_family == "Debian"

- name: Install essential packages
  package:
    name:
      - curl
      - wget
      - git
      - vim
      - htop
      - net-tools
      - ufw
    state: present

- name: Configure timezone
  timezone:
    name: "{{ timezone | default('UTC') }}"

- name: Configure NTP
  package:
    name: ntp
    state: present
  when: ansible_os_family == "Debian"

- name: Start and enable NTP
  systemd:
    name: ntp
    state: started
    enabled: yes
  when: ansible_os_family == "Debian"

- name: Create admin user
  user:
    name: "{{ admin_user }}"
    groups: sudo
    shell: /bin/bash
    create_home: yes
    state: present
  when: admin_user is defined

- name: Configure SSH
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    backup: yes
  loop:
    - { regexp: '^#?PermitRootLogin', line: 'PermitRootLogin no' }
    - { regexp: '^#?PasswordAuthentication', line: 'PasswordAuthentication no' }
    - { regexp: '^#?PubkeyAuthentication', line: 'PubkeyAuthentication yes' }
    - { regexp: '^#?X11Forwarding', line: 'X11Forwarding no' }
  notify: restart ssh

- name: Configure automatic security updates
  package:
    name: unattended-upgrades
    state: present
  when: ansible_os_family == "Debian"

- name: Configure unattended-upgrades
  template:
    src: 50unattended-upgrades.j2
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
  when: ansible_os_family == "Debian"

  handlers:
    - name: restart ssh
      systemd:
        name: sshd
        state: restarted

